*.bak
*.swp
*~
*.pyc
*__pycache__
.cache/
.vscode/

*.py[cod]
*.so
*.ipynb_checkpoints
*egg*
dist/
build/
docs/_build/
htmlcov/
.coverage

*.o
*.ko
*.obj
*.elf

*.gch
*.pch

*.lib
*.a
*.la
*.lo

*.dll
*.so
*.so.[0-9]*
*.dylib

*.exe
*.out
*.app
*.i*86
*.x86_64
*hex

node_modules/
npm-debug.log
yarn.lock
/dist/

.conan/
CMakeUserPresets.json