.container {
  display: flex;
  height: 100vh; /* 使容器充满整个视口高度 */
}

.sidebar {
  width: 200px; /* 侧边栏宽度 */
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.editor {
  flex-grow: 1;
}

.terminal {
  height: 200px; /* 终端高度 */
}